
 <div class="top-wrapper">
        <img class="top-bunner" src="/photo/topbanner.png" alt="">
    </div>
    
    <div class="mein-wrapper">
        <div class="container">
                <h2 class="heading">・今日のお仕事 を”見える化” できます。</h2>
                    <p class="text">今日のお仕事を “見える化” することで、作業の抜け漏れを防ぐことができます。ToDoリストを活用することで仕事の優先順位も決めやすくなります。</p>
                <h2 class="heading">・だれでも使えるシンプルなToDoリスト。</h2>
                    <p class="text">ふくざつな機能、使わない機能を取りのぞいた、だれでも使えるシンプルなToDoリストです。お父さん、お母さん、機械音痴な人、みんな使える設計にしています。</p>
            <div class="btn-wrapper">
                    <a class="btn" href="#">さっそく新規登録する</a>
                <p>すでに登録済の方は</p>
                <a class="btn" href="#">ログイン</a>
            </div>
        </div>

    </div>
