<div class="mein-wrapper">
<div class="container">
    <div class="page-title">
        <h1>投稿編集</h1>
    </div>
        <%= form_with model: @post, method: "patch" %>
        
            <textarea class="textlines"name="title"  placeholder=""><%=@post.title %></textarea>

        <div class="btn-wrapper">
            <input class="btn t" type="submit" value="投稿を更新する">
            <%= link_to "戻る", post_path, class: "btn" %>
        </div>
    </form>
</div>
</div>