/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  width: 750px;
  margin: 0 auto;
}

header {
  background-color: rgba(250, 8, 8, 1);
  height: 40px;
}


.header-left {
  float: left;
  line-height: 40px;
  font-size: 25px;
  padding-left: 30px;
  

}

.header-left h2 {
  color: white;
  font-family: normal;
}

.header-right a {
  text-decoration: none;
  padding: 0 25px;
  color: white;
  display: inline-block;
  transition: all 0.5s;
  
}

.header-right a:hover{
  background-color: rgba(248, 169, 169, 1);
}

.header-right {
  line-height: 40px;
  float: right;
}

.notice {
  background-color: #24ff00;
  color: white;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
}

.alert {
  background-color: #0047FE;
  color: white;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
}

footer{
  background-color: rgba(250, 8, 8, 1);
  height: 40px;
}

footer h2 {
  color: white;
  line-height: 40px;
  font-size: 25px;
  font-family: Nothing You Could Do;
  padding-left: 80px;
}