/* 共通部分ーーーーーーーーーーーーーーーーーーーーーーーーー*/



// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 800px;
    margin: 0 auto; 
}


/* top画面（about）ーーーーーーーーーーーーーーーーーーーーーーーーー*/

.top-bunner{
    width: 800px;
}

.heading{
    padding: 80px 0 20px 0;
    font-size: 35px;
    margin-left: -35px;
}

.mein-wrapper {
    background-color: rgba(250, 8, 8, 0.09);
    height: 750px;
}

.mein-wrapper p {
    padding: 0 -20px;
    
}

.text {
    font-size: 20.2px;
    letter-spacing: 5px;

}

.btn-wrapper {
    margin: 100px 0;
    text-align: center;
}

.btn {
    
    display: inline-block;
    width: 230px;
    padding: 15px 0;
    border-radius: 10px;
    
}

.btn-wrapper a {
    background-color: rgba(250, 8, 8, 0.7);
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    
}

.btn :hover{
    background-color: rgba(250, 8, 8, 1);
}

.btn-wrapper p {
    margin: 50px 0 10px 0;
}

/* ホーム画面（home）ーーーーーーーーーーーーーーーーーーーーーーーーー*/

.home-mein-wrapper {
    background-color: rgba(250, 8, 8, 0.09);
    height: 590px;
}

.page-title {
    font-size: 60px;
    color: rgba(250, 8, 8, 1);
    padding: 65px 0 0 30px;
    margin-bottom: 20px;
}

.home-btn-wrapper {
    margin: 30px 0;
    text-align: center;
}

.home-btn {
    font-size: 20px;
    width: 600px;
    padding: 15px 0;
    margin: 25px 0;
    border-radius: 10px;
    letter-spacing: 5px;

}

.home-btn-wrapper a {
    background-color: rgba(250, 8, 8, 0.7);
    color: white;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
    
}

.home-btn-wrapper a:hover{
    background-color: rgba(250, 8, 8, 1);
}