/* 共通部分ーーーーーーーーーーーーーーーーーーーーーーーーー*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 800px;
    margin: 0 auto; 
}

.container {
    width: 750px;
    margin: 0 auto;
    padding-top: 0.1px;
}

.btn-wrapper a {

    background-color: rgba(250, 8, 8, 0.7);
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    
}

.btn-wrapper a:hover{
    background-color: rgba(250, 8, 8, 1);
}



/* ホーム（home）ーーーーーーーーーーーーーーーーーーーーーーーーー*/


.mein-wrapper {
    background-color: rgba(250, 8, 8, 0.09);
    height: 590px;
}

.page-title {
    font-size: 60px;
    color: rgba(250, 8, 8, 1);
    padding: 65px 0 0 30px;
    margin-bottom: 20px;
}

.btn-wrapper {
    margin: 30px 0;
    text-align: center;
}

.home_btn {
    font-size: 20px;
    display: inline-block;
    width: 600px;
    padding: 15px 0;
    margin: 25px 0;
    border-radius: 10px;
    letter-spacing: 5px;
}



/* 投稿一覧（index）ーーーーーーーーーーーーーーーーーーーーーーーーー*/



tr th {
    border: solid 2px;
    padding: 8px 15px;
    text-align: left;
    background-color: rgba(250, 8, 8, 1);
}

th p {
    color: white;
}

tr td {
    border: solid 2px;
    padding: 8px 15px;
}

td a {
    text-decoration: none;
    color: black;
}

.table {
    margin-top: 40px;
    margin-left: 25px;

}

.u{
    width: 50px;
}

/* 投稿詳細（show）ーーーーーーーーーーーーーーーーーーーーーーーーー*/


.mein-wrapper {
    background-color: rgba(250, 8, 8, 0.09);
    height: 590px;
}

.page-title {
    font-size: 50px;
    color: rgba(250, 8, 8, 1);
    padding: 65px 0 0 30px;
    margin-bottom: 20px;
}

.text-box {
    margin-left: 60px;
    font-size: 25px;
    padding: 50px 0;
    
}

.title {
    float: left;
    
}

.text-box p {
    float: right;
    width: 490px;
}

.show-btn-wrapper {
    padding-top: 30px;
    text-align: center;
}

.l {
    margin: 0px 120px 50px 120px;

} 

.t {
    margin-right: 150px;
}

.show-btn-wrapper a {

    background-color: rgba(250, 8, 8, 0.7);
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    
}

.show-btn-wrapper a:hover{
    background-color: rgba(250, 8, 8, 1);
}



/* 新規投稿（new）＆ 投稿編集（edit）ーーーーーーーーーーーーーーーーーーーーーーーーー*/


.textlines {
    border: 2px solid rgba(250, 8, 8, 1);
    border-radius: 0.67em;
    padding: 0.5em;
    background-color: snow;
    width: 80%;
    height: 150px;
    font-size: 2em;
    line-height: 1.2;
    margin: 30px 0 30px 60px;
}



/* 投稿詳細（show）ーーーーーーーーーーーーーーーーーーーーーーーーー*/

